* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

@mixin bg ($h, $bg, $g){
    height: $h;
    background-color: $bg;
    grid-area: $g;
}

@mixin font ($f) {
    font-family: 'Playpen Sans', sans-serif;
    font-size: $f;
}

@mixin flex ($d, $j, $a){
    display: $d;
    justify-content: $j;
    align-items: $a;
}

.container {
    display: grid;
    grid-template-areas: 
    'nav nav nav nav'
    'sidebar body body body'
    'footer footer footer footer'
    ;
}

header {
    @include bg(60px, rgb(218, 221, 223), nav);
    display: flex;
    .logo {
        height: 5px;
        width: 15px;
    }
    .title {
        @include font(15px);
        align-content: center;
    }
}

aside {
    @include bg(100%, blueviolet, sidebar);
    @include font(15px);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

section {
    @include bg(100%, brown, body);
    @include flex(flex, space-around, center);
    padding: 15px;
    gap: 10px;
    flex-wrap: wrap;
    .card {
        width: 33%;
        height: 300px;
        overflow: hidden;
        background: rgb(218, 221, 223);
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    }
}

footer {
    @include bg(50px, hotpink, footer);
    @include font(13px);
    display: flex;
    justify-content: center;
    padding: 12px;
}

/* Cambiar los colores de fondo, crear el diseño de las cartas, cambiar tamaño de imágenes en psd, diseñar el navbar
*/