* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

@mixin bg ($h, $bg, $g){
    height: $h;
    background-color: $bg;
    grid-area: $g;
}

@mixin font ($f) {
    font-family: 'Playpen Sans', sans-serif;
    font-size: $f;
}

@mixin flex ($d, $j, $a){
    display: $d;
    justify-content: $j;
    align-items: $a;
}

@mixin img ($img) {
    width: 100%;
    height: 150px;
    background-image: $img;
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template-areas: 
    'nav nav nav nav'
    'sidebar body body body'
    'footer footer footer footer'
    ;
}

header {
    @include bg(60px, #54e3ad, nav);
    @include flex(flex, center, center);
}

aside {
    @include bg(100%, #40b29f, sidebar);
    @include font(15px);
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    li {
        cursor: pointer;
        padding: 5px;
    }
}

section {
    @include bg(100%, #f5faff, body);
    @include flex(flex, space-around, center);
    padding: 15px;
    gap: 10px;
    flex-wrap: wrap;
    .card {
        width: 250px;
        height: 320px;
        overflow: hidden;
        background: #f5faff;
        border: 1px solid lightgray;
        :hover {
            box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
            transform: translateY(-3%);
        }
        .image {
            .img1 {
            @include img (url(../assets/img/Adventure.jpg));
            }
            .img2 {
                @include img(url(../assets/img/Past.jpg));
            }
            
        }
        .Ctitle {
            @include font(14px);
            text-align: center;
        }
        .Cinfo {
            @include font(18px);
            text-align: center;
            padding: 7px;
        }
        .Cfooter {
            @include flex(flex, center, center);
            margin-top: 10px;
            .boton {
                @include font(14px);
                height: 50px;
                width: 200px;
                cursor: pointer;
                color:#2b8091;
                border: 2px solid #2b8091;
                border-radius: 4px;
                :hover {
                    background: #40b29f;
                    color: #f5faff;
                }
            }
        }
    }
}


footer {
    @include bg(50px, hotpink, footer);
    @include font(13px);
    display: flex;
    justify-content: center;
    padding: 12px;
}

/* arreglar el hover de las cartas, diseñar el navbar
*/